body{
    background-color: gray;
    margin: 0px;
    }

    h1{
        text-transform: uppercase;
        font-size: 30px;
    }
    
    .top{
       border: 3px solid silver;
       text-align: center;
       margin: 40px;
    }
    
    .corps{
       width: 80%;
       height: 60px;
       margin-left: 10%;
       margin-right: 10%;
       margin-bottom: 20px;
       display: flex;
       justify-content: center;
    }
    
    .corps button{
       margin-top: 10px;
       margin-bottom: 10px;
       width: 40%;
    }
    p{
        text-align: center;
    }

